.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

.main {
    background-color: aqua;
}

.sidenav {
    background-color: pink;
}

.title {
    font-size: 30px;
}

.entry {
    background-color: beige;
}

.displayarea {
    background-color: rgb(215, 179, 249);
}

.projlist {
    background-color: darkgoldenrod;
}

li {
    border-style: solid;
    border-color: black;
}

.titleInput {
    width: 75px;
}

.descInput {
    width: 150px;
}